# Python Text Formatting 
## or Formatted Strings

### The following code demonstrate basic formatting in python:

In [102]:
name = "Alf"
age = 22
print("My name is {} and I am {} years old.".format(name, age))

My name is Alf and I am 22 years old.

### We can also use the following syntax:

In [103]:
print(f"My name is {name} and I am {age} years old.")

My name is Alf and I am 22 years old.

### The following example shows the problem we may encounter while printing tables of text

In [104]:
lib = [('Author', 'Title', 'Number of Pages'), ('Twain', 'Rafting', 601), ('Richard Feynman', 'Advanced Quantum Mechanics', 1595), ('Hamilton', 'Mythology', 144)]

for book in lib:
    print(f'{book[0]} {book[1]} {book[2]}')

Author Title Number of Pages
Twain Rafting 601
Richard Feynman Advanced Quantum Mechanics 1595
Hamilton Mythology 144

## Minimum Widths, Alignment and Padding
### We can solve this problem by specifying the width of each cell as follows:

In [105]:
lib = [('Author', 'Title', 'Number of Pages'), ('Twain', 'Rafting', 601), ('Richard Feynman', 'Advanced Quantum Mechanics', 1595), ('Hamilton', 'Mythology', 144)]

print(f"{' ':->{95}}")
for book in lib:
    print(f"|   {book[0]:{20}} |   {book[1]:{40}} |    {book[2]:{10}} ")
    print(f"{' ':->{95}}")
# We notice the last column of the first row has more than 10 characters.
# We also draw border for our table

----------------------------------------------------------------------------------------------
|   Author               |   Title                                    |    Number of Pages
----------------------------------------------------------------------------------------------
|   Twain                |   Rafting                                  |           601
----------------------------------------------------------------------------------------------
|   Richard Feynman      |   Advanced Quantum Mechanics               |          1595
----------------------------------------------------------------------------------------------
|   Hamilton             |   Mythology                                |           144
----------------------------------------------------------------------------------------------

In [106]:
# We can also fill the white space of each cell with desired characters
for book in lib:
    print(f'{book[0]:^<{20}} {book[1]:-<{40}} {book[2]:.>{10}}') # here respectively =<, -< and .> were added

Author^^^^^^^^^^^^^^ Title----------------------------------- Number of Pages
Twain^^^^^^^^^^^^^^^ Rafting--------------------------------- .......601
Richard Feynman^^^^^ Advanced Quantum Mechanics-------------- ......1595
Hamilton^^^^^^^^^^^^ Mythology------------------------------- .......144

In [107]:
print(f"{' ':->{94}}")
for book in lib:
    print(f"|   {book[0]:{20}} |   {book[1]:{40}} |   {book[2]:<{15}}   |")
    print(f"{' ':->{94}}")
# We notice the last column of the first row has more than 10 characters. So we changed the last column's width to 15.
# We completed the border of our table.
# The sign < causes the white space in the last column accmulates at the end of the cell.

---------------------------------------------------------------------------------------------
|   Author               |   Title                                    |   Number of Pages   |
---------------------------------------------------------------------------------------------
|   Twain                |   Rafting                                  |   601               |
---------------------------------------------------------------------------------------------
|   Richard Feynman      |   Advanced Quantum Mechanics               |   1595              |
---------------------------------------------------------------------------------------------
|   Hamilton             |   Mythology                                |   144               |
---------------------------------------------------------------------------------------------

### While printing a list of tuples, we can use the following syntax too

In [108]:
for a, t, n in lib:
    print(f'{a:{20}} {t:{40}} {n:{10}}')

Author               Title                                    Number of Pages
Twain                Rafting                                         601
Richard Feynman      Advanced Quantum Mechanics                     1595
Hamilton             Mythology                                       144

# Be aware of '=' sign inside of formatted strings

In [109]:
line = "This is Kate's car."
print(f"{line}")
print(f"{line = }")

This is Kate's car.
line = "This is Kate's car."

In [110]:
line

"This is Kate's car."

In [111]:
f'{line = }'

'line = "This is Kate\'s car."'

### Here is another example

In [112]:
x = 12
y = 45
z = x + y
f"{z = }"

'z = 57'

In [113]:
z

57

For more information about string formatting and related topics see the following 
https://docs.python.org/3/reference/lexical_analysis.html